.headerToolBar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 90px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: white;
  padding: 0 22px;
}

.leftSection {
  display: flex;
  align-items: center;
  column-gap: 40px;
}

.middleSection {
  display: flex;
  align-items: center;
  flex: 1;
  justify-content: center;
  margin: 0 50px 0 25px;
  max-width: 500px;
}

.searchBar {
  flex: 1;
  width: 0;
  height: 40px;
  border-top-left-radius: 26px;
  border-bottom-left-radius: 26px;
  border-color: rgb(237, 237, 237);
  border-style: solid;
  padding: 0 0 0 15px;
  font-size: large;
}

.searchBar::placeholder{
  font-size: small;
}

.searchButton {
  position: relative;
  border-top-right-radius: 26px;
  border-bottom-right-radius: 26px;
  border-color: rgb(237, 237, 237);
  border-style: solid;
}

.voiceSearchButton {
  position: relative;
  margin-left: 10px;
  border-radius: 26px;
  border-color: rgb(237, 237, 237);
  border-style: solid;
}

.rightSection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  column-gap: 10px;
}

.notificationCount{
  background-color: red;
  color: white;
  font-size: 12px;
  border-radius: 10px;
  padding: 3px 7px;
  position: absolute;
  top: 5px;
  right: 4px;
}

.notificationsIconDiv,
.upload-iconDiv{
  position: relative;
  height: 56px;
  width: 56px;
  border-radius: 28px;
}

.hamburgerIcon:hover,
.current-user-picture:hover,
.searchButton:hover,
.voiceSearchButton:hover,
.notificationsIconDiv:hover,
.upload-iconDiv:hover{
  cursor: pointer;
  background-color: rgb(194, 194, 194);

  .notificationHoverMessage{
    display: block;
  }
}

.notificationHoverMessage{
  display: none;
  background-color: black;
  color: white;
  opacity: 0.5;

  text-wrap: nowrap;
  font-size: small;
  font-weight: 400;

  padding: 6px;

  position: absolute;
  bottom: -30px;
  left: -12px;
  border-radius: 5px 8px;
}


















































.current-user-picture{
  border-radius: 18px;
}


.hamburgerIcon,
.youtube-apps-icon,
.upload-icon,
.notificationsIcon{
  height: 36px;
  border-radius: 26px;
  border-style: none;
  padding: 10px;
}

.notificationsIcon{
  margin: 2px 0 0 0;

}

.youtubeIcon{
  height: 36px;
  border-style: none;
}

.current-user-picture,
.searchIcon,
.voiceSearchIcon{
  height: 36px;
}
