.header {
    height: 50px;
    display: flex;
    justify-content: space-between;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 100;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(207, 207, 207);
    padding: 0 15px 0 15px;
}

.left-section {
    align-items: center;
    /* flex auto-fits content so we dont' need to specify width anymore */
    display: flex;
}

.hamburger-menu {
    height: 24px;
    margin-left: 24px;
    margin-right: 24px;
}

.youtube-logo {
    height: 22px;
}

.middle-section {
    margin: 0px 30px 0px 30px;
    max-width: 670px;
    width: 0;

    display: flex;
    flex: 1;
    align-items: center;
}

.search_bar{
    flex: 1;
    /* 36px -2px */
    height: 38px;
    padding: 0 0 0 10px;
    margin: 0 0 0 10px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(213, 213, 213);
    border-radius: 3px;
    box-shadow: inset 1px 2px 5px rgb(201, 201, 201);
    /* search bar has default width */
    width: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.search_bar::placeholder{
    font-size: 16px;
}

.search-button {
    height: 40px;
    border: 1px solid rgba(219, 219, 219);
    border-top-right-radius: 18px;
    border-bottom-right-radius: 18px;
    /* "-1" margin reduces the border line visibility */
    margin: 0 10px 0 -1px;
    width: 70px;
}

.voice-search-button{
    height: 40px;
    width: 40px;
    border-radius: 20px;
    border: none;
    /* "-1" margin reduces the border line visibility */
    margin: 0 0 0 10px;
}

.search-icon{
    height: 22px;
    width: 22px;
}

.voice-search-icon{
    height: 24px;
    background-color: rgb(238, 238, 238);
}

.right-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    /* Don't move icons closer together as window width is reduced */
    flex-shrink: 0;
}

.upload-icon,
.youtube-apps-icon,
.notifications-icon{
    height: 30px;
}


.current-user-picture{
    height: 36px;
    border-radius: 18px;
}
