.headerToolBar{
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 35px;
  position: fixed;
  top:0;
  left: 0;
  right: 0;
  background-color: white;

}

.headerToolBar img {
  height: 30px;
}

.leftSection{
  display: flex;
  column-gap: 20px;
}

.rightSection{
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;

  /*not sure if below line is necessary*/
  width: 180px;
}

.middleSection{
  display: flex;
  flex: 1;
  justify-content: center;
  margin: 0 50px 0 25px;
  max-width: 500px;
}

.searchBar{
flex: 1;
width: 0;
}

.search-icon{
background-color: pink;
}
.voice-search-button{
background-color: lightblue;
}
.rightSection{
  background-color: pink;
}
