.allThumbnails{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    row-gap: 20px;
}

.singleThumbnail{
    display: grid;
    row-gap: 5px;
}

.thumbnailPic{
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.channelProfile{
    width: 40px;
}

.channelProfilePic{
    width: 100%;
    border-radius: 20px;
}

.belowThumbnailPic{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 20px;
    padding: 0 10px;
}

.channelNameText{
    margin-top: 10px;
    margin-bottom: 5px;
}

.videoInfoDetails{
    color: rgb(99, 99, 99);
}

.titleText{
    color: black;
    font-weight: 500;
}
