.previewThumbnail{
    display: grid;
    width: 400px;
}

.thumbnailPic{
    width: 100%;
    object-fit: cover;
}

.channelProfile{
    width: 50px;
}

.channelProfilePic{
    width: 100%;
    border-radius: 25px;
}

.belowThumbnailPic{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 20px;
}

.channelNameText{
    margin-top: 15px;
    margin-bottom: 8px;
}
