.previewThumbnail{
    display: grid;
    width: 400px;
}

.thumbnailPic{
    width: 100%;
    object-fit: cover;
}

.channelProfile{
    width: 50px;
}

.belowThumbnailPic{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
