.entire_video_container {
    width: 500px;
    display: inline-block;
}

.video_preview_thumbnail {
    width: 100%;
    border-radius: 15px;
}

.creator_profile_thumbnail {
    width: 40px;
    border-radius: 20px;
}

.under_video {
    display: grid;
    grid-template-columns: 1fr 5fr;
    padding: 10px;
}

.video-creator-details {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
}

.video_preview_container {
    position: relative;
}

.volume_muted_icon {
    width: 25px;
    margin-right: 5px;
}

.closed_caption_icon {
    width: 25px;
}

.video_hover_menu {
    background-color: black;
    display: none;
    justify-content: right;
    position: absolute;
    top: 25px;
    right: 25px;
    opacity: 0.5;
    transition: opacity 1s;
}

.video_preview_container:hover {
    .video_hover_menu {
        display: flex;
        column-gap: 5px;
        transition: column-gap;
        border-radius: 2px;
    }
}

.video_clock {
    background-color: black;
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: small;
    font-weight: 600;
    border-radius: 2px;
}

.video_title_container {
    display: grid;
    grid-template-columns: 1fr auto;
}
