.header {
    background-color: purple;
    display: flex;
    height: 55px;
    justify-content: space-between;



    .left-section {
        background-color: lightgreen;
        width: 150px;
    }

    .middle-section {
        background-color: lightyellow;
        flex: 1;
        margin-left: 40px;
        margin-right: 30px;
        max-width: 400px;
    }

    .right-section {
        background-color: pink;
        width: 200px;
    }



    /*
.left_section {
    background-color: lightblue;
}

.right_section {
    background-color: lightgreen;
}

.middle_section {
    background-color: yellow;
    display: flex;
    flex: 1;
    /* justify-content: center;
    margin-left: 60px;
    margin-right: 30px;
    max-width: 500px;
}

.searchBar_class {
    background-color: red;
    /* display: flex;
    flex: 1;
    max-width: 600px;


    /* width: 0px;
    min-width: 0px;
}


.search_bar {
    height: 80%;
    border-radius: 20px;
    border-color: rgb(232, 232, 232);
    border-style: solid;
    width: 100%;
}

.Recorder_Camcorder,
.Bell_Notification,
.Search_Bar_Button,
.Sidebar_Extendor_Button,
.YouTube_Home_Button {
    height: 80%;
} */
