.entire_video_container {
    background-color: green;
    width: 500px;
    display: inline-block;
}

.video_preview_thumbnail {
    width: 100%;
    border-radius: 30px;
}

.creator_profile_thumbnail {
    width: 40px;
    border-radius: 20px;
}

.under_video {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: pink;
    padding: 10px;
}

.video-creator-details {
    display: grid;
    background-color: yellow;
    grid-template-rows: 1fr 1fr 1fr;
    row-gap: 10px;
}
