.entire_video_container {
    background-color: green;
    width: 500px;
    height: 310px;
}

.video_preview_thumbnail {
    width: 100%;
}

.under-video {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background-color: pink;
}

.video-creator-details {
    display: grid;
    background-color: yellow;
    grid-template-rows: 1fr 1fr 1fr;
}
